@import "Definitions.scss";

@mixin default-image($width, $height) {
  background-repeat: no-repeat;
  display: inline-block;
  background-size: $width $height;
  width: $width;
  height: $height;

}



@mixin blue-styled-box {
  border-top: 4px solid $rsi-light-blue;
  border-right: solid 1px $rsi-common-border;
  border-left: solid 1px $rsi-common-border;
  border-bottom: solid 1px $rsi-common-border;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;

}

@mixin button-basics($borderSize: 0) {
  font-family: Arial, sans-serif;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  font-size: 18px;
  //padding-bottom: 14px - $borderSize/2;
  //padding-top: 16px - $borderSize/2;
  font-weight: bold;
  font-style: normal;
  line-height: 24px;
  border: none;
  margin-top: 32px;
  margin-bottom: 32px;
  //@include input-shadow(null);
  cursor: pointer;
}

@mixin center-with-padding($margin-top: 40px) {
  margin-top: $margin-top;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;

}

@mixin standardModal($w: 448px) {
  @include blue-styled-box;
  @include center-with-padding;
  margin-top: 0;
  position: absolute;
  //450px minus the 2px for the border
  width: $w;
  top: calc(50% - 248px/2);
  left: calc(50% - #{$w}/2);

}

