$rsi-black: #262626;
$rsi-gray-black: #2D2D2D;
$rsi-dark-gray: #3D3F3F;
$rsi-med-gray: #6A6D6D;
$rsi-link-gray: #757575;
$rsi-light-gray: #d8d8d8;
$rsi-border-gray: #bfc0c0;
$rsi-common-border: #e8eced;
$rsi-ui-input-wrapper: #898d8d;
$rsi-background-gray: #F8F8F8;
$rsi-gray-border: #979797;
$rsi-success-border: #51942d;
$rsi-background-gray: #EFEFEF;
$rsi-pale-gray: #F4F4F4;

$rsi-inactive-element-border: rgba(137, 141, 141, 0.35);
$rsi-link-blue: #2673b9;

$rsi-light-blue: #147CBD;
$rsi-med-blue: #096DA9;
$rsi-blue-message: #025398;
$rsi-dark-blue: #0E5B8B;
$rsi-midnight-blue: #074064;

$accent-dark-blue: #0779CA;
$accent-light-blue: #1398F6;
$accent-hover-blue: #E5F3FF;
$accent-selected-blue: #C8E4FB;

$accent-dark-purple: #8035E5;
$accent-light-purple: #A369EF;
$accent-hover-purple: #F2EAFC;
$accent-selected-purple: #DFCCF8;

$accent-dark-orange: #D2460F;
$accent-light-orange: #F16C37;
$accent-hover-orange: #FAECE7;
$accent-selected-orange: #F4D1C3;

$accent-dark-teal: #038277;
$accent-light-teal: #03A590;
$accent-hover-teal: #E5F2F1;
$accent-selected-teal: #C0E0DD;

$accent-dark-magenta: #910095;
$accent-light-magenta: #AB249D;
$accent-hover-magenta: #F4E5F4;
$accent-selected-magenta: #E3BFE4;

$error-field-background: #FFF1F1;
$error-field-border: #CC1416;
$error-field-color: #BA0E10;
$error-field-weight: bold;

$fontSizeH6: 1rem;
$fontSizeH5: 1rem;
$fontSizeH4: 1rem;
$fontSizeH3: 1.143rem;
$fontSizeH2: 1.286rem;
$fontSizeH1: 1.429rem;
$max-width: 1280px;
$min-width: 1024px;

@mixin standard-font {
  font-family: Arial, sans-serif;
  font-stretch: normal;
  line-height: normal;
}

@mixin variable-width($min: 200, $max: 500, $sizeToMax: true) {
  min-width: #{$min}px;
  max-width: #{$max}px;
  @if $sizeToMax {
    width: calc((100vw / 1280) * #{$max});
  } @else {
    width: calc((100vw / 1024) * #{$min});
  }
}
@mixin line-height-standard-margins {
  @include standard-font;
  //line-height: 20px; /* 1 */
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
}
@mixin black-text($clr: $rsi-black, $_fontSize: 14px) {
  color: $clr;
  font-weight: bold;
  font-size: $_fontSize;
  font-style: normal;
  margin-top: 0;
  margin-bottom: 0;
  
}
