@import "Common";

.resources-page {
    border-top: 4px solid $accent-light-magenta;
    padding-left: 32px;
    padding-right: 25px;
    height: 1121px;
    color: $rsi-black;

    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        height: 60px;
        padding-top: 15px;
    }

    .col {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        justify-content: center;
        flex: 0 0 auto;
        padding: 0.5em;
    }

    .width-25 {
        width: 25%;
        display: block;
        padding-top: 16px;
        border-right: 1px solid $rsi-gray-border;
        cursor: pointer;
    }

    .width-75 {
        width: 75%;
        padding-top: 27px;
        padding-left: 32px;
        display: block;
    }

    .col-right {
        height: 1021px;
        overflow-y: scroll;
    }

    ul {
        list-style: none;
        padding-left: 0;

        li {
            line-height: 21px;
        }
    }

    .resource-header {
        font-weight: bold;
        height: 8px;
        padding-bottom: 22px;
    }

    .resource-title {
        color: $rsi-light-blue;
    }

    .resource-header-text {
        color: $rsi-black;
        font-size: 18px;
        font-weight: bold;
        padding-top: 49px;
    }

    .ah-resource-header {
        color: $rsi-light-blue;
        font-size: 18px;
        font-weight: bold;
        padding-top: 49px;
    }

    .active_item {
        color: $rsi-light-blue;
        font-size: 14px;
        font-weight: bold;
    }

    .pt-17 {
        padding-top: 22px;
        padding-bottom: 17px;
    }

    .card-level1 {
        height: 189px;
    }

    .card-level2 {
        height: 160px;
    }

    .card-level3 {
        height: 179px;
    }

    .card-level4 {
        height: 181px;
    }

    .card-normal {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid $rsi-gray-border;
        border-radius: 1px;
        cursor: pointer;
        width: 160px;
    }

    .card-header {
        background-color: $rsi-background-gray;
    }

    .card-body {
        flex: 1 1 auto;
        text-align: center;
        margin-top: 10px;

        p {
            line-height: 16px;
            margin-top: 2px;
            margin-bottom: 0;
        }
    }

    .card-image-size {
        background-repeat: no-repeat;
        background-size: 75px 97px;
        width: 75px;
        height: 97px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 11px;
        margin-bottom: 11px;
    }

    .card-AdCourse-image {
        background-image: url(../images/AdministratorIcon.png);
    }

    .card-ExCourse-image {
        background-image: url(../images/ExaminerManualIcon.png);
    }

    .card-android-image {
        background-image: url(../images/AndroidIcon.png);
    }

    .card-ios-image {
        background-image: url(../images/iOSIcon.png);
    }

    .card-windows-image {
        background-image: url(../images/WindowsIcon.png);
    }

    .card-dashboard-image {
        background-image: url(../images/Dashboard_Icon.png);
    }

    .card-bdidashboard-image {
        background-image: url(../images/BDI-3_Dashboard_Icon.png);
    }

    .card-staff-image {
        background-image: url(../images/Add_and_Manage_Staff_Icon.png);
    }

    .card-child-image {
        background-image: url(../images/Add_Manage_Child_Icon.png);
    }

    .card-location-image {
        background-image: url(../images/Add_Manage_Location_Icon.png);
    }

    .card-testSession-image {
        background-image: url(../images/Test_Session_Form.png);
    }

    .card-2month-image {
        background-image: url(../images/2_Months_Icon.png);
    }

    .card-4month-image {
        background-image: url(../images/4_Months_Icons.png);
    }

    .card-6month-image {
        background-image: url(../images/6_Months_Icon.png);
    }

    .card-9month-image {
        background-image: url(../images/9_Months_Icon.png);
    }

    .card-1year-image {
        background-image: url(../images/1_Year_Icon.png);
    }

    .card-18month-image {
        background-image: url(../images/18_Months_Icon.png);
    }

    .card-2year-image {
        background-image: url(../images/2_Years_Icon.png);
    }

    .card-3year-image {
        background-image: url(../images/3_Years_Icon.png);
    }

    .card-4year-image {
        background-image: url(../images/4_Years_Icon.png);
    }

    .card-5year-image {
        background-image: url(../images/5_Years_Icon.png);
    }

    .card-early-academic-image {
        background-image: url(../images/Battelle_Early_Academic_Survey_Examiner.png);
    }

    .card-examiner-image {
        background-image: url(../images/Technical_Manual_Examiner_Icon.png);
    }

    .card-export-import-image {
        background-image: url(../images/Staff_Children_and_Importing.png);
    }

    .card-data-solution-image {
        background-image: url(../images/Mobile_Data_Solution.png);
    }

    .card-report-center-image {
        background-image: url(../images/Reports_Center.png);
    }

    .card-merge-record-image {
        background-image: url(../images/Merge_Record_Forms.png);
    }

    .card-mobile-data-image {
        background-image: url(../images/Sync_Mobile_Data_Solutions.png);
    }

    .card-record-form-image {
        background-image: url(../images/Add_Record_Form_Record_Data.png);
    }

    .card-manage-child-image {
        background-image: url(../images/Add_and_Manage_Child.png);
    }

    .card-manage-staff-image {
        background-image: url(../images/Add_Manage_Staff.png);
    }

    .card-navigate-dashboard-image {
        background-image: url(../images/Navigate_the_Dashboard.png);
    }

    .card-guide-image {
        background-image: url(../images/Guide_image.png);
    }

    .card-manage-location-image {
        background-image: url(../images/Add_Manage_Location.png);
    }

    .card-program-image {
        background-image: url(../images/Program_Coordinator.png);
    }

    .app-icon {
        width: 94px;
        height: 94px;
        background-size: 94px 94px;
    }

    .lap-icon {
        width: 134px;
        height: 79px;
        background-size: 134px 79px;
    }

    .form-icon {
        width: 74px;
        height: 96px;
        background-size: 74px 96px;
    }

    .record-icon {
        width: 130px;
        height: 106px;
        background-size: 130px 106px;
        margin-top: 6px;
    }

    .card-text:last-child {
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        color: $rsi-black;
    }

    .resource-card {
        display: inline-flex;
    }

    .body-level1 {
        margin-top: 2px;
    }

    .body-level2 {
        margin: 3px;
    }

    .body-level3 {
        margin: -6px;
    }

    .body-level4 {
        margin: 3px;
    }

    .body-level5 {
        margin: 5px;
    }

    .body-level6 {
        margin-top: 20px;
    }

    .body-level7 {
        margin-top: 14px;
    }

    .scroll-header {
        color: $rsi-black;
        font-size: 18px;
        font-weight: bold;
        padding-top: 42px;
    }

    .pt-16 {
        padding-top: 16px;
    }

    .pt-18 {
        padding-top: 18px;
    }

    .pl-39 {
        padding-left: 39px;
    }

    .pt-41 {
        padding-top: 41px;
    }

    .mt-10 {
        margin-top: 10px;
    }

    .mt-20 {
        margin-top: 20px;
    }

    .min-height {
        height: 118px;
    }

    .text-level2 {
        color: $rsi-light-blue;
        font-size: 18px;
        padding-top: 21px;
        font-weight: normal;
    }

    .text-italic {
        font-style: italic;
    }

    .resource-h3 {
        div {
            line-height: 40px;
        }
    }

    a {
        text-decoration: none;
    }

    .resource-level10 {
        margin-bottom: 820px;
    }
}
